<!DOCTYPE html>
<html>
<head>
  <title>Quora</title>

  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<header>
	<div id = "logo">
		<h2 style="color:#b92b27">Quora</h2>
	</div>
	<div id = "search">
		<%= form_tag '/', method: :get do %>
			<%= text_field_tag 'search' %>
			<%= submit_tag 'search' %>
		<% end %>

	</div>
	<div id = "home">
		<h3><i class="fa fa-h-square" aria-hidden="true"></i>Home</h3>
	</div>
	<%if current_user%>
	<div id = name>
		<h3><%=current_user.email%></h3>
		<%=link_to "logout", url_for(controller: :authentication,action: :logout)%>
	</div>
	<%end%>
</header>
<section id = "mainsection">
<%= yield %>
</section>
<footer>
<div class = "yo"><h3>copyright@kidding</h3></div>
<div class="floatingTop"><a href="#top" id="toTop">^ </a></div>

</footer>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

</body>
</html>
